@import "tailwindcss";
.footer {
  background: #000;
  color: #fff;
  padding: 50px 80px;
  font-family: Arial, sans-serif;
}
@media (max-width: 1024px) {
  .footer {
    padding: 40px 60px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 20px;
  }
}
.text-font{
    font-size: x-large;
    font-weight: bold;
    padding: 1%;
}
@media (max-width: 768px) {
  .text-font {
    font-size: large;
  }
}
.marfoot{
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left p {
  margin: 10px 0;
  font-size: 16px;
}
@media (max-width: 768px) {
  .footer-left p {
    font-size: 14px;
  }
  
}

.footer-left i {
  margin-right: 8px;
  color: #11b6ff;   /* Icon color */
}

.footer-right h4 {
  margin-bottom: 15px;
  font-weight: bold;
}

.social-icons a {
  display: inline-block;
  font-size: 24px;
  margin-right: 20px;
  transition: 0.3s ease;
  row-gap: 1%;
  column-gap: 5%;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #222;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer-bottom {
    margin-top: 30px;
    padding-top: 15px;
  }
}

.footer-logo {
  height: 60px;
}
@media (max-width: 768px) {
  .footer-logo {
    height: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-right {
    margin-top: 30px;
  }
  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}
